<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>{% block title %} VK Comments {% endblock %}</title>
</head>
<body>
<div class="py-5 container">
    {% block content %}
        <h1> Content </h1>

    {% endblock %}
</div>
</body>
</html>